body {
  overflow-x: hidden;
  display: grid;
  grid-template:
    "header header"
    "nav nav"
    "main aside"
    "table1 table1"
    "footer footer";
}

.myList {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header {
  grid-area: header;
}

body main {
  grid-area: main;
}

body aside {
  z-index: 99;
  box-shadow: 1px 1px 8px 1px black;
  border: 1px solid black;
  grid-area: aside;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: gray;
  padding: 0.1em;
  grid-area: nav;
}

body table {
  grid-area: table1;
}

.myFooter {
  position: fixed;
  top: 97%;
  left: 0;
  right: 0;
  background-color: black;
  width: 100%;
  color: white;
  text-align: right;
}

#cat {
  height: 200px;
}

body main > b {
  display: block;
}

body main :nth-child(2) {
  display: inline;
}

body main :nth-child(3) {
  display: inline-block;
  background-color: blue;
  width: 500px;
}

main + table {
  margin: 1em;
  border-collapse: collapse !important;
}
body table th {
  padding: 0.5em;
  background-color: blueviolet;
}

body table tr:hover {
  background-color: gray;
  transition: ;
}

body aside details summary ~ ol {
  color: "red";
}

.demo ~ li {
  color: red;
}
.demo + li {
  color: blueviolet !important;
}

ol {
  list-style-type: none;
}

li:first-of-type {
  color: red;
}

li:nth-child(2n) {
  color: chartreuse;
}

li:last-of-type {
  color: brown;
}

#img1 {
  opacity: 50%;
  width: 100%;
  position: absolute;
  z-index: -99 !important;
}
